/* COMMON */

.inner {
  width: 80%;
  margin: 0 auto;
}
a {
	text-decoration: none;
	color: #000;
}
a:visited {
	color: #000;
	display: none;
}
@font-face {
    font-family: 'broadway';
		
    src: url('./fonts/Broadway.ttf') format("truetype");
}


/* HEADER */

header{

}
header .mainLogo {
	display: flex;
}
header .mainLogo img {
	width: 120px;
}
header .inner{
	
}
header .navbar{
	padding: 15px;
	box-sizing: border-box;	
}
header .navbar .navbar-menu{
	display: flex;
	justify-content: center;
	list-style: none;
	box-sizing: border-box;
	padding-left: -40px;
}
header .navbar .navbar-menu .navbar-menu-items{
	margin-right: 10px;
	border: 3px solid black;
	box-sizing: border-box;
	padding: 3px;
	font-weight: 700;
	font-size : 15px;
}
header .navbar .navbar-menu .navbar-menu-items:hover {
	color: #fff;
	background-color: #000;
	cursor: pointer;
}

/* main */
.mainTitle {
	line-height: 1.5rem;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	
	width: 80%;
	margin: 20px auto;
	font-weight: 700;
}
.main-menu {
	width: 100%;
	text-align: center;
}
.main-menu-items{
	padding: 20px;
	display: block;
	align-items: center;
	justify-content: center;
}
.menu-container {
	width: 100%;
	
}

.menu-container-items {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.menu-container-item {
	
	width: 220px;
	height: 280px;
	margin: 3px auto;
	
	background-color: #000;
}
.menu-container-item img {
	width: 100%;
	height: 100%;
}
main {

}
main .inner{
	
}
main .inner .image-box{
	width: 100%;
	height: 500px;
	background-image: url("../images/about3.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


main .inner img {
	width: 100%;
	overflow: hidden;
	
}
main .inner .text-box {
	
	margin-top: 10px;
	
	padding: 35px;
	
}
main .inner .text-box img {
	width: 100px;
}
main .inner .text-box h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 30px;
}
main .inner .text-box h2 {
	padding: 10px;
	font-weight: 700;
	font-size: 18px;
}
main .inner .text-box p {
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	line-height: 1.3rem;
}
.mobileBack {
	display: none;
}

/* footer */
footer {

}
footer .inner {
	margin: 30px auto;
	align-items: center;
	border-top: 2px solid black;
	
	padding: 20px;
	
}
footer .inner i {
	
}
footer .inner img {
	width: 150px;
}

/* CONTACT */
.contactText {
	text-align: center;
}
.contactText h1 {
  font-family: 'broadway';
	font-size: 45px;
}
.contactText img {
	width: 30px ;
}
.contactText a {
	width: 30px ;
}
.contactText h2 {
	font-weight: 600;
}





/* 미디어 스크린 쿼리 */

@media all and (min-width:1023px) and (max-width:1440px) { 
  main .inner {
		width: 100%;
	}
	.desktopBack {
		display: none;
	}
	.mobileBack {
		display: block;
	}
	.menu-container-item {
	
		width: 280px;
		height: 320px;
		margin: 3px auto;
		
		background-color: #000;
	}
	main .inner .image-box{
		width: 100%;
		height: 500px;
		background-image: url("../images/about3.jpeg");
		background-repeat: no-repeat;
		background-position: center -10px;
		background-size: cover;
	}
} 

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
  main .inner {
		width: 100%;
	}
	.desktopBack {
		display: none;
	}
	.mobileBack {
		display: block;
	}
	main .inner .image-box{
		width: 100%;
		height: 500px;
		background-image: url("../images/about3.jpeg");
		background-repeat: no-repeat;
		background-position: center -5px;
		background-size: cover;
	}
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
	main .inner{
		
		width: 100%;
	}
	.desktopBack {
		display: none;
	}
	.mobileBack {
		display: block;
	}
	main .inner .image-box{
		width: 100%;
		height: 500px;
		background-image: url("../images/about3.jpeg");
		background-repeat: no-repeat;
		background-position: center -40px;
		background-size: cover;
	}
} 


/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  main .inner{
		width: 100%;
	}
	.desktopBack {
		display: none;
	}
	.mobileBack {
		display: block;
	}
}